* {
    list-style-type: none;
    font-family: Helvetica;
}

html {
    overflow-y: scroll; /* Adding the ability to scroll */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

    height: 100%;
    margin: 0px;
}

html::-webkit-scrollbar {
    display: none; /* Chrome */
}

body {
    margin: 0px;
    height: 100%;
    background-color: rgb(210, 210, 228)
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;

    background-color: rgb(210, 210, 228);

    margin: 0px;
    height: 100%;
}

header {
    background-color: white;
    box-shadow: 0px 3px 4px 2px #a09e9eb0;

    display: grid;

    grid-column: 2/5;
    grid-template-columns: 2fr 1fr;

    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;

    z-index: +1;
}

header div {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;

    display: grid;
}

.searchbar {
    display: grid;

    grid-column: 1/2;
    grid-template-columns: 1fr 11fr 7fr;
    
    border-color: none;
    border-radius: 8px;

    justify-self: left;
    padding-bottom: 0px;
    padding-top: 0px;
}

.search-icon {
    height: 24px;
    width: 24px;
    align-self: center;
    justify-self: right;
    padding: 12px;
}

.searchbar-input {
    background-color: rgb(236, 236, 238);
    border-color: none;
    border-radius: 8px;
    border-width: 0px;
    height: 18px;

    align-self: center;
    text-align: left;
    padding: 12px;

    font-size: 16px;
}

.user-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-self: right;
    align-self: center;

    padding-right: 48px;
}

.notification-icon {
    height: 24px;
    width: 24px;
    align-self: center;
    justify-self: right;
}

.user-profile-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-self: center;
}

.user-select {
    justify-self: right;
    align-self: center;
}

.project-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: right;

    padding: 24px;
    padding-right: 48px;
    gap: 16px;
}

.project-buttons button {
    color: white;
    background-color: #0099FF;

    border: none;
    border-radius: 16px;
    
    width: 6.5em;
    height: 2.5em;
    text-align: center;
    font-weight: bold;
}


.user-display {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding-left: 32px;
    padding-top: 8px;
}

.user-icon-display {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.user-display-text {
    gap: 4px;
}

.user-display-greeting {
    font-size: 9px;
    font-weight: bolder;
}

.user-name-display {
    font-size: 18px;
}





.sidebar {
    color: white;
    /* background-color: #1c93e1d5; */
    background-color: #0099FF;

    padding: 16px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: bold;

    display: grid;
    grid-row: 1/5;
    grid-template-rows: 1fr 8fr 4fr 11fr;

    /* max-height: 90%; */
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;

    font-size: 24px;
}

.dashboard-logo {
    filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(4deg) brightness(104%) contrast(103%);
    height: 40px;
    width: 40px;
}


.sidebar ul {
    display: grid;
    padding-left: 24px;
}

.sidebar-icon {
    filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(4deg) brightness(104%) contrast(103%);
    height: 24px;
    width: 24px;
}

.nav-list {
    display: grid;
    grid-template-rows: repeat(6, 0.5fr);
}

.nav-list li {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 8px;
    align-items: center;
}

.user-options-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.user-options-list li {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 8px;
    align-items: center;
}



.main-ui-container {
    background-color:rgb(210, 210, 228);

    display: grid;
    margin: 0px;
    height: 100%;

    gap: 16px;
    padding: 0px 16px;
}

.projects {
    display: grid;

    grid-column: 1/2;
    grid-row: 1/4;

    padding-bottom: 12px;
    padding-top: 0px;
}

.project-container-title {
    display: grid;

    /* height: 20px; */
    font-size: 16px;
    font-weight: bold;

    padding: 16px;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-left: 16px;
    gap: 2rem;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    font-size: 12px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px 5px -1px #b1b1b1b0, -0.5em 0em 0px rgb(255, 183, 0);
}

.project-title {
    padding-left: 12px;
    padding-top: 24px;
    padding-bottom: 0px;

    font-size: 12px;
    font-weight: 800;
}

.project-description {
    color: rgb(104, 103, 103);
    font-size: 12px;
    padding-left: 12px;
    padding-right: 24px;
}

.project-card-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-self: right;
    align-self: end;

    gap: 24px;
    padding: 16px;
}

.project-card-icons img{
    height: 18px;
    width: 18px;
}




.announcement-trending-container {
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 1fr;

    padding: 16px;
    padding-top: 0px;
    gap: 20px;
}

.announcements {
    padding-top: 18px;
}

.announcements-container-title {
    display: grid;
    
    height: 32px;

    font-size: 16px;
    font-weight: bold;
}

.announcements-container {
    display: grid;

    padding: 16px 32px;

    background-color: white;
    box-shadow: 3px 3px 5px -1px #868686b0;
    border-radius: 8px;
}

.announcements-card {
    display: grid;
    font-size: 12px;
    background-color: white;
}

.announcement-card-title {
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica;

    padding-top: 16px;
}

.announcement-description {
    color: rgb(139, 139, 139);
    font-size: 10px;
    font-weight: bold;

    padding-bottom: 16px;
}

.announcement-card-divider {
    border-bottom: 2px solid #b1b1b1b0;
    opacity: 0.75;
}




.trending {
    padding-top: 32px;
}

.trending-title {
    display: grid;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
}

.trending-container {
    display: grid;
    
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    padding: 18px;
    gap: 32px;

    background-color: white;
    box-shadow: 3px 3px 5px -1px #868686b0;
    border-radius: 8px;
}

.trending-card {
    display: grid;
}

